.container {
  background: var(--inner-bg);
  width: 90%;
  max-width: 90%;
  position: relative;
  display: flex;
  margin: 50px auto;
  flex-direction: column;
  justify-content: flex-start;
  /* Adjust to your needs */
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  height: 600px;
  overflow-y: auto;
  /* Enable scrolling if content overflows */
}

@media (max-width: 768px) {

  /* Adjust for smaller screens, e.g., mobile devices */
  .container {
    width: 92%;
    margin-top: 70px;
    max-width: none;
  }
}