.studio-button-label {
  text-transform: uppercase;
  white-space: nowrap;
  padding: 0 8px;
  opacity: 0;
  transform: translateX(10px);
  transition: 1s ease-in-out all;
}

.studio-button-icon {
  position: relative;
  top: 1px;
}